<div class="jumbotron">
  <h1 id="mainTitle">Code Answers</h1>
</div>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><a href="/">HOME</a></li>
    </ul>
  </div>
</nav>
<div class= "container">
    {{outlet}}
</div>
<hr>
